<!doctype html>
<html ng-app='doge'>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/index.css">
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.9/angular.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js"></script>
	
	<script src="js/token.js"></script>
	<script src="js/ccv.js?nocache"></script>
	<script src="js/face.js"></script>
	<script src="js/processpic.js?nocache"></script>
	
	
	<script src="js/bootstrap.min.js"></script>
	<script src="js/index.js"></script>
</head>
<body ng-controller='dogeCtrl' ng-init='getAuth()'>
	<div id='fthepolice'>
			<div class='container'>
				<nav>
					<div class='btn-group-vertical'>
						<a class='btn btn-default' ng-click='changeFeed("https://api.instagram.com/v1/users/self/feed")' href="#" data-placement='left' title='doge'><span class='glyphicon glyphicon-home'></span></a>
						<a class='btn btn-default' ng-click='changeFeed("https://api.instagram.com/v1/users/self/media/liked")' href="#" data-placement='left' title='dogesecrate my likes'><span class='glyphicon glyphicon-heart'></span></a>
						<a class='btn btn-default' ng-click='changeFeed("https://api.instagram.com/v1/media/popular")' href="#" data-placement='left' title='hot doge'><span class='glyphicon glyphicon-fire'></span></a>
						<a class='btn btn-danger' ng-click='logout()' href="#" data-placement='left' title='dogeout'><span class='glyphicon glyphicon-off'></span></a>
					</div>
				</nav>
			</div>
		</div>

	<div id='feed' class='container'>

		<div class='thumbnail media' ng-repeat='image in data | filter: {type: "image"}'>
			<div class='image' id='image{{$index}}'>
				<div class='verylikes'>
					<span class='likes pull-right'><span class='glyphicon glyphicon-heart'></span> {{image.likes.count}}</span>
					<div class='caption_text'>{{image.caption.text}}</div>
				</div>
			</div>
			<div class='user'>
				<div style='height:100%'><img class='profile_picture' ng-src="{{image.user.profile_picture}}"></div>
				<div class='full_name'>{{image.user.full_name}}</div>
				<div class='created_time'>{{convertTimestamp(image.created_time)}}</div>
			</div>
			{{processImage($index)}}
		</div>

	</div>
</body>
</html>
